main > header {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  direction: ltr;
  font-family: peyda;
}
header > div.tophead {
  width: 100%;
  height: 85px;
  background-color: black;
  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
header > div.tophead > div.headlogo {
  width: 145px;
  height: 40px;
  margin-left: 5px;
  display: flex;
  /* flex-grow: 1; */
  justify-content: center;
  align-items: center;
}

header > div.tophead > div.headmenu {
  width: 930px;
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 5;
  margin-right: 75px;
  align-items: center;
  color: white;
  direction: rtl;
  gap: 35px;
  transition: 300ms linear;
}
.menuoff {
  display: none !important;
}
div.tophead > div.but-head {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: none;
  position: absolute;
  right: 10px;
  /* flex-grow: 1; */
  justify-content: center;
  align-items: center;
  background-color: #96e901;
}
div.tophead > div.but-head > img {
  width: 35px;
  height: 37px;
}
.buton {
  display: flex !important;
}

div.headmenu > ul {
  width: inherit;
  height: inherit;
  display: flex;
  gap: 35px;
  list-style: none;
}
div.headmenu > ul > li {
  width: auto;
  height: inherit;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.qheadmenu {
  width: 930px;
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 5;
  margin-right: 75px;
  align-items: center;
  color: white;
  direction: rtl;
  gap: 35px;
  transition: 300ms linear;
  overflow: scroll;
}
.qul {
  width: 440px;
  height: 500px;
  display: block !important;
  background-color: black !important;
  position: absolute;
  z-index: 1000;
  top: 100px;
  color: black;
  /* overflow: visible; */
}
.qli {
  width: 360px;
  height: 70px;
  display: block !important;
  background-color: black !important;
  color: black;
  border-bottom: solid 1px white;
}
.qli > p {
  color: black;
}

div.headmenu > ul > li > p {
  font-size: 18px;
  height: auto;
  cursor: pointer;
}
#main-head {
  color: #96e901;
  cursor: pointer;
}

div.headmenu > ul > li:hover {
  cursor: pointer;
}

div.headmenu > ul > li:hover > p {
  color: #96e901;
  text-decoration: underline solid #96e901 4px;
  text-underline-offset: 35px;
  transition: 300ms linear;
}

li > div.submenu-2 {
  width: 230px;
  height: 50px;
  display: flex;
  display: none;
  position: absolute;
  left: 160px;
  top: 95px;
  padding-right: 30px;
  justify-content: center;
  align-content: center;
  text-align: right;
  background-color: black;
  z-index: 100;
  cursor: pointer;
}
div.submenu-2:hover {
  cursor: pointer;
  background-color: #2a4001;
  border-right: solid #96e901 3px;
  transition: 150ms linear;
}
div.submenu-2:hover > p {
  color: #88d300;
  cursor: pointer;
  transition: 150ms linear;
}

div.submenu-2 > p {
  height: auto;
  font: 18px;
  color: white;
}

li > div.submenu-1 {
  width: 250px;
  height: auto;
  display: none;
  border-radius: 10px;
  z-index: 100;
  position: fixed;
  right: 230px;
  top: 85px;
}

@keyframes Fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.active {
  display: block !important;
  animation-name: Fadein;
  animation-timing-function: linear;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}

div.submenu-1 > ul {
  width: auto;
  height: inherit;
  /* background-color: black; */
  text-align: right;
  margin-top: 10px;
  padding-bottom: 10px;
}
div.submenu-1 > ul > li {
  width: 90%;
  height: auto;
  display: flex;
  background-color: black;
  position: relative;
  align-items: center;
  padding-right: 10px;
  /* margin-top: 10px; */
  /* padding-top: 10px; */
  transition: 150ms linear;
}

#platin-media {
  height: 60px;
  display: flex;
  align-items: center;
}
#platin-media-text {
  width: 85%;
  line-height: 30px;
}
#singhov {
  z-index: 100;
  padding-bottom: 50px;
  /* background-color: #88d300; */
}

div.submenu-1 > ul > li > p {
  font-size: 16px;
  line-height: 50px;
  height: auto;
  letter-spacing: 0.3px;
}
div.submenu-1 > ul > li > i {
  line-height: 10px;
  font-size: 12px;
  height: auto;
  font-weight: 100;
  position: absolute;
  left: 20px;
  color: #7cc106;
  /* flex-grow: 1; */
}
div.submenu-1 > ul > li:hover {
  /* cursor: pointer; */
  background-color: #2a4001;
  /* color: #88d300; */
  border-right: solid #96e901 3px;
  transition: 150ms linear;
}
div.submenu-1 > ul > li:hover > p {
  color: #88d300;
  transition: 150ms linear;
}

div.navmenu-1 {
  width: 230px;
  height: auto;
  display: none;
  position: absolute;
  top: 5px;
  right: 240px;
  background-color: black;
  border-radius: 3px;
}
div.navmenu-1 > ul {
  width: auto;
  height: auto;
  list-style: none;
}
div.navmenu-1 > ul > li {
  width: inherit;
  height: auto;
  padding-right: 10px;
}
div.navmenu-1 > ul > li:hover {
  background-color: #2a4001;
  border-right: solid #96e901 3px;
  transition: 150ms linear;
}
div.navmenu-1 > ul > li:hover > p {
  color: #88d300;
  transition: 150ms linear;
}

div.navmenu-1 > ul > li > p {
  height: auto;
  line-height: 50px;
}
#nav-1 {
  line-height: 30px;
}
header > div.headban {
  width: 100%;
  height: 660px;
  position: absolute;
  top: 88px;
}
div.headban > img {
  width: inherit;
  height: inherit;
  object-fit: contain;
}
