section > div.sec-1 {
  width: 100%;
  height: 650px;
  position: absolute;
  /* background-color: aqua; */
  top: 750px;
  display: flex;
}
div.sec-1 > div.sec-con-1 {
  width: 50%;
  height: inherit;
  display: flex;
  align-items: center;
  position: relative;
  /* background-color: green; */
}
div.sec-1 > div.sec-vid-1 {
  width: 50%;
  height: inherit;
  /* background-color: blueviolet; */
}

div.sec-con-1 > span {
  width: 530px;
  height: 170px;
  right: 50px;
  position: absolute;
  font-size: 18px;
  direction: rtl;
  font-family: yekan-normal;
}
